# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store

# Ignore all DHA and FAY files because they contain sensitive information.
*.[dD][hH][aA]
*.[fF][aA][yY]

# Ignore all CSV files because they contain sensitive information.
*.[cC][sS][vV]

# Ignore RubyMine hidden folder
*.idea